# Byte-compiled / optimized / DLL files
__pycache__/

# Unit test / coverage reports
htmlcov/
.coverage
.pytest_cache/

# ruff
.ruff_cache/

# mypy
.mypy_cache/

# pyinstaller
graft.spec
build/
dist/

#Code editors
.vscode/

# Environments
.venv/

# Personal directories
archive/

# Data directories
data/
